html{
    font-size: 16px;
    background-color: #E6E6E6;
}

/* ========== HEADER ========== */
.nav{
    border-bottom: 1px solid #404040;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: #BFBFBF;
    
}

.nav-logo{
    font-size: 2rem;
    /* FANCY LOGO FONT HERE SOMETHING CURSIVE*/
}

.nav li{
    display: inline-block;
    margin-right: 1.25rem;
    font-size: 1.125rem;
}

.header-pad{
    height: 3.0625rem;
}

/* ========== HERO/MISSION ========== */

.hero{
    background-image: url(../images/hero.png);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
}

.mission{
    width: 100%;
    height: 5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission h1{
    font-size: 5rem;
    color: whitesmoke;
    /* SOME SERIF FONT */
}

.mission h2{
    font-size: 1.75rem;
    color: whitesmoke;
    font-style: italic;
    /* SOME SANS-SERIF FONT */
}

/* ========== SERVICES ========== */

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 450px;
    background-color: whitesmoke;
    color: #404040;
}

.service-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}

div.service-content h2{
    font-size: 2.25rem;
}

div.service-content h4{
    font-size: 1.25rem;
    font-style: italic;
}

.service-images{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

#service img{
    max-width: 375px;
    max-height: 250px;
}

#service figcaption{
    text-align: center;
    font-size: 1.25rem;
}

/* ========== OUR TEAM ========== */

div.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/fabric.png);
    background-size: cover;
}

div.team-images{
    width: 85%;
    display: flex;
    justify-content: space-around;
    
}

#team img{
    max-width:241px;
    max-height: 309px;
}

#team h2{
    font-size: 2.25rem;
    color: whitesmoke;
}

#team h3{
    text-align: center;
    font-size: 1.25rem;
    color: whitesmoke;
}

#team h4{
    text-align: center;
    font-size: 1rem;
    color: whitesmoke;
}

/* ========== CONTACT ========== */

div.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color:#404040;
}

#contact h2{
    font-size: 2.25rem;
}

#contact h5{
    font-size: 1.25rem;
}

/* ========== FOOTER ========== */

div.footer{
    background-color: #BFBFBF;
}

#footer h6{
    position: relative;
    left: 1rem;
}